* {
    /* 全般設定 */
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    /* 余白 */
    margin: 0 auto;
    background-color: #ebebeb;
    font-family: 'Zen Maru Gothic', sans-serif;
    /* background-image: ; */
}

h1 {
    /* 余白 */
    padding: 0;
    margin: 0;
}

/* ヘッダー */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #ebebeb;
}

.title {
    /* 余白 */
    padding-top: 20px;
    padding-bottom: 20px
}

.explan {
    /* 余白 */
    padding-top: 20px;
    padding-bottom: 20px
}

.biglink {
    color: #d9333f;
    text-decoration: none;
}

.main {
    /* 余白 */
    margin: 50px;
}

/* プロフィールセクション */
.profile-flex {
    display: flex;
}

.profile-icon {
    width: 200px;
    height: auto;
}

.profile-sect {
    padding-left: 20px;
}

/* リンクセクション */
.links {
    padding-left: 10px;
    font-weight: bold;
    color: #d9333f;
    text-decoration: none;
}

.link-flex {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.sect-title {
    margin-bottom: 10px;
}

.sect-desc {
    margin-top: 10px;
}

.twitter {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.opinion {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.youtube {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.twitch {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.discord {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.wishlist {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.empty-flex {
    width: 300px;
}

.empty {
    /* 余白 */
    margin-top: 50px;
    height: 70px;
}

/* フッター */
.footer {
    /* 大きさ */
    width: 100%;
    height: 70px;
    /* 位置指定 */
    display: flex;

    align-items: center;
    justify-content: space-around;

    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #333;
    color: #ebebeb;
    text-align: center;
    margin: 0 auto;
}

/* スマホ用設定 */
@media screen and (max-width: 700px) {
    .header {
        display: block;
    }

    .profile-flex {
        display: block;
    }

    .link-flex {
        display: block;
    }

    .empty-flex {
        display: none;
    }



}

/* メニューのスタイル */
.menu {
    position: fixed;
    top: 0;
    right: -100%;
    /* 初期状態では画面の外に隠れている */
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #333;
    opacity: 0.95;
    transition: right 0.3s ease;
    /* スライドインのアニメーション */
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
}

/* メニューが開いているとき */
.menu.open {
    right: 0;
}

/* ボタンのスタイル */
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 20;
}

.hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #d9333f;
    margin: 5px 0;
    transition: 0.4s;
}

/* バツ印に変化するスタイル */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* メニューリストのスタイル */
.menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 80px;
}

.menu li {
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
}

.menu li a {
    color: #ebebeb;
    text-decoration: none;
    display: block;
}