* {
    /* 全般設定 */
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    /* 余白 */
    margin: 0 auto;
    background-color: #ebebeb;
    font-family: 'Zen Maru Gothic', sans-serif;
    /* background-image: ; */
}

h1 {
    /* 余白 */
    padding: 0;
    margin: 0;
}





/* ヘッダー */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #303030;
    color: #ebebeb;
}

.title {
    /* 余白 */
    padding-top: 20px;
    padding-bottom: 20px
}

.explan {
    /* 余白 */
    padding-top: 20px;
    padding-bottom: 20px
}

.biglink {
    color: #d9333f;
    text-decoration: none;
}

.main {
    /* 余白 */
    margin: 50px;
}

/* プロフィールセクション */
.profile-flex {
    display: flex;
}

.profile-icon {
    width: 200px;
    height: auto;
}

/* リンクセクション */
.links {
    padding-left: 10px;
    font-weight: bold;
    color: #d9333f;
    text-decoration: none;
}

.link-flex {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.sect-title {
    margin-bottom: 10px;
}

.sect-desc {
    margin-top: 10px;
}

.twitter {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.opinion {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.youtube {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.twitch {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.discord {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.wishlist {
    /* 余白 */
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
}

.empty-flex {
    width: 300px;
}

.empty {
    /* 余白 */
    margin-top: 50px;
    height: 70px;
}

/* フッター */
.footer {
    /* 大きさ */
    width: 100%;
    height: 70px;
    /* 位置指定 */
    display: flex;

    align-items: center;
    justify-content: space-around;

    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #303030;
    color: #ebebeb;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    .header {
        display: block;
    }

    .profile-flex {
        display: block;
    }

    .link-flex {
        display: block;
    }

    .empty-flex {
        display: none;
    }
}